*{
    padding: 0;
    margin: 0;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: black;
    /* background: url(../images/patrick-tomasso-0V3qHmSV1kM-unsplash.jpg); */
}
.main-block-about{
    display: flex;
    /* top: 20%;
    left: 10%; */
    width: 100vw;
    height: 100vh;
    /* position: absolute; */
    overflow-y: hidden;
    overflow-x: hidden;
}
.bob{
    background:  url(../images/bob.jpg);

}
.bob:hover{
    transform: translate3d(8px, 8px, 8px);

}
.jan{

    background: url(../images/jan.jpg);

}
.jan:hover{
    transform: translate3d(8px, 8px, 8px);

}
.jyo{

    background: url(../images/jyo.jpeg);

}
.jyo:hover{
    transform: translate3d(8px, 8px, 8px);

}
/* .dha{
    background: url(../images/jan.jpg);
    
} */
.dha:hover{
    transform: translate3d(8px, 8px, 8px);

}
.block-img{
    /* padding: 25vh 20vw 25vh 20vw; */
    width: 100%;
    height: 100%;
    margin: 0 25vw 0 0;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: inherit;
    background-size: cover;
    transition: 0.5s ease;
}
/* ::-webkit-scrollbar{
    background-color: transparent;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
} */