*{
    padding: 0;
    margin: 0;
    
}
body{
    padding: 0;
    margin: 0;
    position: relative;
    background: linear-gradient(to right,rgb(34, 38, 63),rgb(83, 83, 83),rgb(65, 65, 65));
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: scroll;
    background-size: cover;
    font-family: sans-serif;
    scroll-behavior: smooth;
    font-size: large;
    color: white;
}

.header-chatGroup{
    font-size: larger;
    font-weight: bold;
    padding: 15px 45vw 15px 45vw;
    position: fixed;
    top: 0;
    margin: -5px 0 0 0;
    background-color: rgb(34, 38, 63);
}
.main-block{
    background-color: transparent;    
    height: 93vh;
    width: auto;
}
.no-of-participants{
    background-color: darkgray;
    padding: 10px 90vw 10px 10px;
    left: 5;
    margin: -50px 0 0 0;
    position: fixed;
}
#group-message li{
    margin-top: 100px;
    color: black;
    width: 10%;
    background-color: white;
    padding: 5px 10px 5px 10px;
    
}
.message-block{
    bottom: 0;
    left: 0;
    margin: 80vh 0 0 5px;
    padding-right: 5px;
    position: fixed;
}
#message1{
    height: 45px;
    width: 85vw;
    border-radius: 10px;
    font-size: larger;
}
#send{
    height: 45px;
    width: 100px;
    border-radius: 7px;
    color: white;
    font-size: inherit;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 10px black;
}
#group-message li{
    text-align: left;
    /* background-color: red; */
    padding: 5px 0 5px 10px;
}
h4{
    background-color: white;
    color: black;
    padding: 5px 50px 5px 50px;
    border-radius: 5px;
}
#all-messages{
    overflow-y: scroll;
    margin: 50px 0 100px 0;
}

#all-message li{
    text-align: right;
    margin-left: 80%;
}