*{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: scroll;
    background-size: cover;
    font-family: "Fira Sans", sans-serif;
    scroll-behavior: smooth;
    font-size: medium;
    overflow-x: hidden;
}
.first-section{
    overflow: hidden;
    height: 100vh;

    /* background: url(../images/pic2.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    display: flex;
}

.second-section{
    display: flex;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 10px 1px 10px 5px rgba(0,0,0,0.5);
    overflow: hidden;
    padding-bottom: 10px;
}
.block{
    margin-right: -9px;
    width: 46%;
    /* height: 100vh; */
    padding: 10px;
    text-align: center;
}

header{

    text-decoration: none;
    font-size: 40px;
    color: black;
    width: 50%;
    position: relative;
    padding: 10px;
    /* text-shadow: 2px 2px 5px rgb(136, 136, 136); */
    margin: 35vh 0 0 5vw;
    /* background-color: red; */
}
.headerH1{
    margin-left: 10px;
    padding: 10px;
    transition: 0.5s ease;
    border-left: 2px black solid;
}
.headerH1:hover{
    transform: translate3d(5px,5px,5px);
}
.flex-for-logo{
    display: flex;
}
header img{
    width: 100px;
    height: auto;
}

.headerh6{
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    font-weight: 40;
    padding: 5px;
    text-align: center;
    margin-top: 2rem;
    font-size: 15px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    /* background-color: aqua; */
    position: relative;
    /* width: 50%; */
    transition: 0.5s ease;
}
.headerh6:hover{
    color: white;
    background-color: black;
    border-radius: 5px;
    transition: 0.5s ease;
}

header strong{
    color: rgb(0, 0, 0);
}
.menu{
    height: 100%;
    /* width: 70px; */
    right: 0;
    top: 0;
    z-index: 10;
    position: fixed;
    padding: 0 15px 0 15px;
    background-color: black;
    transition: 0.3s;
    align-items: center;
    justify-content: center;
}

.three-bars{
    top: 47%;
    /* margin-left: 2px; */
    position: absolute;
    display: block;
}
a{
    text-decoration: none;
    font-size: medium;
    color: white;
}
.login{
    bottom: 0;
    cursor: pointer;
    margin-bottom: 2vh;
    /* margin-left: -0.2rem; */
    position: absolute;
}
.bar{
    padding: 1px 15px 1px 15px;
    margin: 6px;
    border-radius: 2px;
    
    background-color: white;
    transition: 0.3s ease;
}
.first .second .third{

    background-color: white;
    transition: 1s ease;
}
.change .first{
    -webkit-transform: rotate(-45deg) translate(-6px,9px);
    transform: rotate(-45deg) translate(-6px,6px);
}

.change .second{
    opacity: 0;
}
.change .third{
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(-6px,6px);
    transform: rotate(45deg) translate(-6px,-5px);
}

.logo{
    width: 40px;
    height: auto;
    margin: 1vh 0 0 0;
}

.nav{
    height: 100%;
    width: 50px;
    right: 0;
    top: 0;
    z-index: 10;
    position: fixed;
    padding-left: 15px;
    background-color: black;
    transition: 0.3s ease;
    align-items: center;
    opacity: 0;
}
.nav.clickOnX{
    opacity: 1;
    height: 100%;
    width: 45%;
    right: 0;
    top: 0;
    z-index: 10;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;  
    transition: 0.5s ease;
}
nav ul{
    list-style: none;
    margin-top: 250px;
    text-align: left;
}
li{
    display: flex;
}
.line{
    margin: 40px 100px 0 20px;
    width: 100%;
    background-image: linear-gradient(to right,white,rgba(0,0,0,0.2));
    height: 3px;
    transition: 0.5s ease;
}
.line.lineAnimate{
    animation: reveal 1s ease both;
}
@keyframes reveal{
    from{
        transform: translateX(40%);
    }
    to{
        transform: translateX(0);
    }
}
nav ul li a{
    margin: 20px 0 0 25px;
    font-size: 25px;
    display: block;
    text-decoration: none;
    color: white;
    overflow-block: hidden;
    transition: 0.5s ease;
}
nav ul li a:hover{
    color: red;
}
nav ul li a:hover.line{
    width: 0;
}
nav ul li a.changesize{
    animation: BottomToUp 1s ease both 0.3s;
}
@keyframes BottomToUp{
    from{
        transform: translateY(-25px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
/* .main{
    transform: rotate(45deg) translate3d(0,100px,0);
    
} 
 .main1{
    display: flex;
    margin: -40vh 0 0 60vw;
 }
.main1 .templates{
    width: 25vw;
    height: auto;
}
.main2{
    display: flex;
    margin: -48vh 15vw 0 0;
}

.main3{
    display: flex;
    margin: 72vh 0 0 15vw;
} */
/* .temp{
    width: 20%;
    height: 20%;
    font-size: larger;
    margin-right: 10px;
    margin-top: -2px;
    padding: 0px;
    color: white;
    border-radius: 7px;
    position: relative;
    border: 4px solid white;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.7);
    background: url(bg4.jpg);
    background-repeat: repeat;
    background-position: bottom;
    background-attachment: inherit;
    background-size: cover;
    transition: background-color 0.5s,transform 0.5s;
}


.pic{
    height: 150px;
    background: url(codebg.jpg);
    box-shadow: 5px 5px 10px 5px rgb(0, 0, 0,0.5) inset;
    background-size: cover;
    border-radius: 5px;
}
.temp1{
    width: 150px;
    height: auto;
}
.temp2{
    width: 400px;
    height: auto;
}
.temp3{
    width: 500px;
    height: auto;
}
.temp4{
    width: 250px;
    height: auto;
}
.text-area{
    padding: 5px;
    margin: 5px;
    display: block;
    text-align: center;
    align-items: center;
}
strong{
    text-align: center;
}
.text{
    padding: 15px;
    font-weight: lighter;

} */

/* .temp-section{
    background: url(assets/images/CHtemp.png);
    width: 40rem;
} */
.image-temp{
    width: 120rem;
    height: auto;
    margin: -35vh 0 0 -20vw;
}
.image-temp.onScrollChange{
    animation: whatever 2.5s ease both;
    transition: 0.5s ease-in-out;
}
.temp-section{
    /* background-color: blue; */
}
@keyframes whatever{
    0%{
        transform: translate3d(150px,-150px,0);
    }
    45%{
        transform: translate3d(50px,-50px,0);
    }
    50%{
        transform: translate3d(50px,-50px,0);
    }
    100%{
        transform: translate3d(0,0,0);
    }
}

.row{
    height: 40vh;
    background-color: rgba(0,0,0,0.3);
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
    margin-top: 10px;
    /* border-radius: 8px; */
    padding: 10px;
}

/* .templates{
    position: relative;
    height: 30%;
    width: 30%;
    border: 4px solid white;
    border-radius: 8px;
    margin-right: 15px;
    box-shadow: 5px 7px 10px rgba(0,0,0,0.4);
}

.template6 .template9{
    width: 10vw;
    height: auto;
} */
footer{
    /* height: 40px; */
    background-color: rgba(0,0,0,0.8);
    color: white;
    text-align: center;
}
footer h6{
    padding: 15px;
}
.ranking-section{
    width: 100vh;
    height: 100vh;
    background-color: black;
    color: white;
    display: flex;
}

/* 
@media (max-width: 1300px) {


    .main2{
        display: flex;
        margin: -40vh 15vw 0 0;
    }
    
    .main3{
        display: flex;
        margin: 60vh 0 0 15vw;
    }
    .template6 .template9{
        width: 10vw;
        height: auto;
    }

}

@media (max-width: 1200px) {

    .main2{
        display: flex;
        margin: -35vh 15vw 0 0;
    }
    
    .main3{
        display: flex;
        margin: 60vh 0 0 28vw;
    }
    header{
        text-decoration: none;
        font-size: 35px;
        position: absolute;
        border-radius: 8px;
        padding: 10px;
        text-shadow: 2px 2px 5px rgb(136, 136, 136);
        margin: 30vh 0 0 30px;
    }
    header h1{
        margin: -11vh 0 0 8vw;
    }
    header img{
    
        width: 80px;
        height: auto;
        
    }
    header h5{
        font-weight: 100;
        margin-top: 10px;
        font-size: 20px;
    }
}
@media (max-width: 1100px) {
    .main2{
        display: flex;
        margin: -30vh 15vw 0 0;
    }
    
    .main3{
        display: flex;
        margin: 57vh 0 0 28vw;
    }
} */