*{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    position: relative;
    background: linear-gradient(to right,rgb(34, 38, 63),rgb(83, 83, 83),rgb(65, 65, 65));
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: scroll;
    background-size: cover;
    font-family: sans-serif;
    scroll-behavior: smooth;
    font-size: large;
}
h1{
    margin-bottom: 10px;
    font-size: 50px;
}
.header-div{
    color: white;
    text-align: center;
    /* font-size: 25px; */
    margin-top: 15px;
}
.xl6531916{
    font-size: 30px;
    background-color: rgba(225,225,225,0.2);

}
table{
    margin-top: 50px;
}
tr{
    box-shadow: 9px 9px 15px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease;
    z-index: 1;
}
tr:hover{
    transform: translate3d(15px, 15px, 15px);
}
td{
    color: white;
    padding: 50px;
    font-size: large;
    
}
td a{
    text-decoration: none;
    color: white;
    
}
h5{
    margin-top: 25px;
    font-weight: lighter;
    font-size: 25px;
}
/* .menu{
    height: 100%;
    width: 50px;
    right: 0;
    top: 0;
    z-index: 1;
    position: fixed;
    padding-left: 15px;
    background-color: black;
    transition: 0.3s;
    align-items: center;

} */
