*{
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
    background-color: black;
}
.DSA-heading{
    position: sticky;
    background-color: rgb(85, 85, 85);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.7);
    width: 100%;
    top: 0;
    padding: 10px;
    text-align: center;
    color: white;
    /* margin-bottom: 50px; */
}
.no-flex-menu{
    /* padding-left: 3%; */
    display: block;
    background-color: rgba(255,255,255,0.15);
    padding: 2vh 25vh 2vh 15vh;
}
.menu-block{
    display: flex;
}

.array{
    text-align: center;
    /* height: 25vh; */
    font-size: larger;
    padding: 1rem;
    margin-top: 1vh;
    /* width: 20vw; */
    /* margin: 10px; */
    background-color: rgba(255,255,255,0.1);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.7);
    transition: 0.5s ease;
}
.array:hover{
    transform: translate3d(8px, 8px, 8px);
}

