*{
    margin:0;
    padding:0;
}
body{
    margin: 0;
    padding: 0;
    color: white;
    background: url(../images/bg.jpg);
    background-size: cover;

}
.main-body-section{
    display: flex;
}
.left-image-section{
    height: 100vh;
    width: 50vw;
    position: absolute;
    
}
.right-login-section{
    margin-left: 50vw;
    width: 50vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    /* border-left: white 2px solid; */
    /* box-shadow: 5px 5px 5px 10px rgba(0,0,0,0.7); */
    position: absolute;
}
input{
    border-radius: 7px;
}
.login-text{
    margin: 35% 0 0 40%;
    color: white;
}
#email{
    margin: 2rem 0 0 10%;
    background-color: white;
    width: 35vw;
    height: 2rem;
        border: black solid 2px;

}
#password{
    margin: 2rem 0 0 10%;
    background-color: white;
    width: 35vw;
    height: 2rem;
        border: black solid 2px;

}
.login-button{
    cursor: pointer;
    border-radius: 7px;
    margin: 2rem 0 0 10%;
    width: 35vw;
    height: 2rem;
    background-color: rgb(177, 54, 54);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.9);
    border: black solid 2px;
    transition: 0.3s ease;
}
.login-button:hover{
    background-color: black;
    border: white 2px solid;
    color: white;

}
.register-button{
    cursor: pointer;
    border-radius: 7px;
    margin: 2rem 0 0 10%;
    width: 35vw;
    height: 2rem;
    background-color: rgb(177, 54, 54);
    box-shadow: 5px 5px 10px rgba(0,0,0,0.9);
    border: black solid 2px;
    transition: 0.3s ease;
}
.register-button:hover{
    background-color: black;
    border: white 2px solid;
    color: white;

}