*{
    padding: 0;
    margin: 0;

}
body{
    background-color: black;
    font-family: sans-serif;
}

/* .blur-background{
    width: 100vw;
    height: 100vh;
    background: url(../images/pic3.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: scroll;
    background-size: cover;
    filter: blur(5px);
    z-index: 0;
    position: absolute;
} */
.main-body{
    /* margin-top: -100vh; */
    width: 100vw;
    /* z-index: 1; */
    /* height: 100vh; */
    color: white;
    overflow: auto;
    /* display: block; */
    /* background: url(../images/pic4.jpg); */
    /* position: absolute; */
}
.quiz-header{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px;
}

#add-quiz{
    width: 70vw;
    height: 70vh;
    z-index: 1;
    border-radius: 9px;
    position: absolute;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 2% 5% 2% 10%;
    background-color: rgba(255, 255, 255, 0.08);
    padding: 3rem;
}
.quiz-body{
    display: block;
}
#add-quiz h5{
    padding: 5px;
}
.time-of-quiz{
    /* display: block; */
    /* float: right; */
    position: absolute;
    right: 5rem;
    
}
#enter-button-of-quiz{
    position: absolute;
    right: 10rem;
}
.quiz-body ul li{
    margin-top: 10px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 9px;

}
.main-quiz-body{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    border: 5px solid white;
    
    display: none;
}
.start-button{
    padding: 3rem;
    position: absolute;
    top: 15%;
    left: 30%;
    right: 30%;
    font-size: smaller;
    line-height: 2;
    background-color: rgba(255,255,255,0.18);
    border-radius: 8px;
}
.title-of-quiz{
    margin-left: 2rem;
}
#theStartButton{
    margin: 2rem 0 0 0;
    background-color: black;
}
ol li{
    list-style-type: decimal;
}
#oneMinTimer{
    margin: 1rem 0 1rem 0;
}
#pre-questions{
    width: 70vw;
    height: 78vh;
    z-index: 2;
    position: absolute;
    left: 12%;
    overflow-x: hidden;
    overflow-y: scroll;

    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.08);
}
#pre-questions input{
    width: 20px;
    height: 20px;
}
#pre-questions h6{
    margin: 8px;
}
::-webkit-scrollbar{
    background-color: transparent
}
#pre-title{
    background-color: rgba(255,255,255,0.12);
}

.preQNo{
    background-color: rgba(255, 255, 255, 0.15);
    /* width: 50vw;
    height: 50vh; */
    padding: 10vh;
    margin: 10% 15% 10% 15%;
    border-radius: 9px;
}
.preQNo h5{
    font-size: larger;
}
#timer{
    /* background-color: aqua; */
    width: 4rem;
    margin: 5px 0 0 1rem;
}
.pre-question{
    /* margin: 20px; */
    padding: 40px 50px 10px 50px;
}
.pre-options{
    padding: 10px 50px 10px 50px;
}
#end-the-quiz{
    position: absolute;
    width: 100vw;
    height: 6vh;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.123);
}
#end-the-quiz button{
    position: absolute;
    left: 48%;
    right: 45%;
    bottom: 15%;
}
.result-section{
    padding: 5rem;
    background-color: rgba(255, 255, 255, 0.18);
    position: absolute;
    top: 25%;
    left: 33%;
    border-radius: 10px;
}
.result{
    text-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    /* font-size: 70px; */
    text-align: center;
    margin: 20px;
}
.result h2{
    margin: 10px;
}
.result h1{
    margin: 20px;
}
.result h5{
    font-weight: 10;
    margin: 10px;
}
.result-section button{
    margin: 0 0 20px 38%;
}
/* .result-section button{

} */