*{
    padding: 0;
    margin: 0;
}
body{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #000000;
    

    height: 100vh;
    overflow: hidden;
    position: relative;
}
.bg-image{
    /* background: url(../images/pic4.jpg); */
    background-color: black;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    filter: blur(5px);
    height: 100%;
    z-index: 0;
}
.h5-of-option{
    margin-top: -7px;
}
.main-body-flex{
    display: flex;
    margin-top: -100vh;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
}
.left-block-flex{
    width: 45vw;
    background-color: rgba(255, 255,255,0.2);
    z-index: 2;
    /* background: linear-gradient(to bottom,rgba(0,0, 0, 0.9),rgba(255, 255,255,0.2)); */

    border: 3px solid rgba(255, 255, 255, 0.726);
    /* border-radius: 5px; */
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);

}
input{
    padding: 5px 10px 5px 10px;
    margin: 5px;
    background-color: rgba(0,0,0,0.5);
    /* box-shadow: 5px 5px 5px rgba(0,0,0,0.5); */
    color: white;
    border-radius: 5px;
    width: 10vw;
    height: 15px;
    border: solid white 2px;
}
.left-block-flex h5{
    padding: 10px;
}
.left-block-flex h6{
    padding-left: 5px;
    margin-left: 5px;
}
.right-block-flex h5{
    padding: 10px;

}
.right-block-flex h6{
    padding-left: 5px;
    margin-left: 5px;
}
#all-done{
    display: none;
    margin-left: 36.5%;
    margin-top: 20px;

    justify-content: center;
    width: 15vw;
}
#password{
    display: none;
    margin-top: 20px;
    margin-left: 35%;
    justify-content: center;
    width: 15vw;
}
#time{
    display: none;
    margin-top: 20px;
    margin-left: 35%;
    justify-content: center;
    width: 15vw;
}
.preview{
    margin-top: 20px;
    /* font-size: larger; */
    text-align: center;
}
.pre-options li{
    display: flex;
    padding: 5px;
    margin-left: 10px;
}
.preQNo{
    display: block;
}
#pre-title{
    margin: 20px;
    /* font-size: larger; */
    text-align: center;
}
.right-block-flex{
    justify-content: center;
    display: block;
    background-color: rgba(0,0,0,0.4);
    /* background: url(../images/pic3.jpg); */
    z-index: 2;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: scroll;
    background-size: cover;
    width: 50vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.right-block-flex h1{
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    color: white;
}
.options-body{
    padding: 20px;
    background-color: rgb(77, 77, 77);
    /* background: linear-gradient(to right, black,rgba(0,0,0,0.9),rgba(255,255,255,0.2)); */
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5) inset;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: sticky;
    display: block;
    top: 0;
}
.title-block{
    display: flex;
    justify-content: center;
}
#title-button{
    margin-left: 20px;
}
.options-body h5{
    font-size: large;
    padding: 10px;
}
#Title-of-quiz{
    padding: 5px 10px 5px 10px;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    color: white;
    border-radius: 5px;
    width: 25vw;
    border: solid white 2px;

}
/* #all-questions input{
    padding: 5px 10px 5px 10px;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    color: white;
    border-radius: 5px;
    width: 15vw;
    height: 15px;
    border: solid white 2px;

} */


button{
    background-color: rgba(0,0,0,0.5);
    margin-left: 10px;
    color: white;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    border-radius: 8px;
    width: 50px;
    height: 30px;
    border: solid white 2px;
}
#name-of-quiz{
    display: none;
}
.add-question-button{
    width: 50px;
    height: 50px;
    font-size: 35px;
    border-radius: 50%;
    box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: 2px white solid;
}
.question-field{
    display: flex;
    padding: 20px;
}
#all-questions h5{
    margin-left: 15px;
    font-size: medium;
}
.question-field input{
    padding: 5px 10px 5px 10px;
    margin-left: 10px;

    background-color: rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    color: white;
    border-radius: 5px;
    width: 15vw;
    height: 15px;
    border: solid white 2px;
}
/* .answer-field input{
    padding: 5px 10px 5px 10px;
    margin-left: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    color: white;
    border-radius: 5px;
    width: 15vw;
    height: 15px;
    border: solid white 2px;
} */
.answers{
    text-align: center;
    display: none;
    justify-content: center;
}
#answerText{
    display: none;
}
.answers li{
    margin-left: 15px;
    padding: 5px;
    text-align: center;
}
.radioInput{
    margin-left: 10px;
    background-color: rgba(0,0,0,0);
    /* box-shadow: 5px 5px 5px rgba(0,0,0,0.5); */
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: solid white 2px;
}
.pre-radioInput{
    margin-left: 10px;
    background-color: rgba(0,0,0,0);
    /* box-shadow: 5px 5px 5px rgba(0,0,0,0.5); */
    color: white;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    border: solid white 2px;
}
.addoptionbutton{
    background-color: rgba(0,0,0,0.5);
    margin: 10px;
    color: white;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: solid white 2px;
    font-size: larger;
    margin-left: 25px;
}
.optionInput{
    padding: 5px 10px 5px 10px;

    background-color: rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    color: white;
    border-radius: 5px;
    width: 10vw;
    height: 15px;
    border: solid white 2px;
}
.index-number{
    padding: 5px 10px 5px 10px;
    margin-left: 10px;
    
    background-color: rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
    color: white;
    border-radius: 5px;
    width: 20px;
    height: 10px;
    border: solid white 2px;
}
/* .question-field button{
    margin-left: 10px;
    width: 50px;
    height: 35px;
} */
#all-questions li{
    margin-top: 5px;
    width: auto;
    height: auto;
    display: block;
    background-color: rgba(255, 255,255,0.2);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5) inset;
}


.options-field{
    padding: 20px;
}
#all-questions ul li
{
    background-color: inherit;
    box-shadow: none;
    display: flex;
}

